#fgp-gallery li {
    width: 23%;
    margin: 0 12px 12px 0;
}

@media (max-width: 768px) {
    #fgp-gallery li {
        width: 48%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 568px) {

    #fgp-gallery li {
        width: 100%;
        margin: 0 0 20px;
    }

    #fgp-filters {
        margin: 0;
    }

    #fgp-portfolio {
        text-align: left;
    }
}